name: "CI"

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lintAndTest:
    name: Lint & Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Use Node.js v12
        uses: actions/setup-node@v1
        with:
          node-version: 12
      - name: Install Packages
        run: yarn install
      - name: Format Check
        run: yarn format-check
      - name: Lint
        run: yarn lint
      - name: Test
        run: yarn test
      - id: runActionValid
        name: Try Valid URL
        uses: ./
        with:
          domain: https://bluenova.io
          expiration_days: 7
      - id: runActionInvalid
        name: Try Invalid URL
        uses: ./
        continue-on-error: true
        with:
          domain: https://not-a-real-domain-at-all-1382712984.com
          expiration_days: 7
      - id: invalidActionStatus
        name: Invalid URL Status
        if: steps.runActionInvalid.outputs.error_message == ""
        run: exit 1

