name: 'CI'

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Use Node.js v16
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install Packages
        run: yarn install
      - name: Format Check
        run: yarn format:check
      - name: Lint
        run: yarn lint:check
      - name: Typecheck
        run: yarn type:check
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v1
      - name: Use Node.js v16
        uses: actions/setup-node@v1
        with:
          node-version: 16
      - name: Install Packages
        run: yarn install
      - name: Test
        run: yarn test
      - id: runActionValid
        name: Try Valid URL
        uses: ./
        with:
          domain: https://joggr.io
          expiration_days: 7
      - id: runActionInvalid
        name: Try Invalid URL
        uses: ./
        with:
          domain: https://not-a-real-domain-at-all-1382712984.com
          expiration_days: 7
      - id: invalidActionStatus
        name: Invalid URL Status
        if: steps.runActionInvalid.outputs.error_message == ''
        run: exit 1
  dependabot:
    name: 'Dependabot (auto-merge)'
    runs-on: ubuntu-latest
    needs:
      - lint
      - test
    if: ${{ github.actor == 'dependabot[bot]' && github.event_name == 'pull_request'}} # Detect that the PR author is dependabot
    steps:
      - name: Enable auto-merge for Dependabot PRs
        run: gh pr merge --auto --squash "$PR_URL" # Use Github CLI to automatically merge the PR
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GITHUB_TOKEN: ${{ secrets.BOT_MERGE }}
